/**********|| Header Css||**********/
 .fbBeerHeader {
     top: 0;
     z-index: 999;
     background-color: var(--blue);
     position: fixed;
     right: 0;
     left: 0;
}
 .insideNav li a {
     padding: 5px 30px !important;
     margin: 0px 0px;
}
 .fbBtn1 {
     padding-top: 10px;
}
 .fbBtn1,.instaFeedDetails>a {
     background-color: var(--yellow);
}
 .fbBeerNav {
     padding: 15px 30px;
}
 .fbBeerNav .navbar-brand img {
     width: 160px;
}
 .navMenuOrder li a.nav-link {
     margin: 0px 5px;
}
 .navMenuOrder li a.nav-link span {
     top: -7px;
     right: 4px;
     padding: 4px 6px;
     background-color: var(--yellow);
     line-height: 14px;
}
/**********|| Header Css||**********/
/**********|| Home Banner Css||**********/
 .fbHomeBanner .carousel-inner .carousel-item img {
     height: 100vh;
     object-position: top;
}
 .carousel-indicators1 {
     right: 0;
     display: table;
     width: 40px;
}
 .carousel-indicators2 {
     display: table-cell;
     vertical-align: middle;
     padding-left: 0;
}
 .carousel-indicators2 li {
     width: 10px;
     height: 10px;
     margin: 6px auto;
     z-index: 1;
     border: 1px solid var(--white);
}
 .carousel-indicators2 li.active {
     background-color: var(--white) !important;
}
 .carousel-indicators3 {
     padding: 20px 0px;
     margin: 0px;
     background: var(--blue);
     z-index: 1;
     border-radius: 15px 0px 0px 15px;
}
/**********|| Home Banner Css||**********/
/**********|| Location Css||**********/
 .fbLocateCenter {
     max-width: 55%;
     margin: -10% auto 0;
     background-color: rgb(10 34 64 / 90%);
}
 .fbLocateCenter .form-group input,.fbLocateCenter .form-group select {
     border: 0;
     border-bottom: 2px solid var(--yellow);
     border-radius: 0;
     max-width: 250px;
     margin-right: 50px;
     outline: 0 !important;
}
 .fbLocate form {
     justify-content: center;
}
 section#fbFindLocation {
     min-height: 470px;
     background-position: bottom;
     background-size: contain;
}
/**********|| Location Css||**********/
/**********|| Enjoy Prime Css||**********/
 .fbBestPlacer .PrimePlacesImg img {
     min-width: 255px;
     min-height: 160px;
     max-height: 160px;
     background: #1f354f;
}
 .PlaceIcon img {
     max-height: 50px;
}
 .PrimePlacesDetails {
     padding: 10px;
}
 .PrimePlacesDetails a {
     margin-top: 10px;
}
/**********|| Enjoy Prime Css||**********/
/**********|| See What Other Css||**********/
 .fbShareLists a {
     padding: 10px 10px 30px;
     background-color: var(--white);
     transition: 0.7s !important;
}
 .fbShareLists a:nth-child(odd) {
     transform: rotate( 10deg);
}
 .fbShareLists a:nth-child(even) {
     transform: rotate(-10deg) translate(0px, 25px);
}
 .fbShareLists a:nth-child(odd):hover {
     transform: rotate( 10deg) scale(1.09) !important;
}
 .fbShareLists a:nth-child(even):hover {
     transform: rotate(-10deg) translate(0px, 25px) scale(1.09) !important;
}
 .fbShareLists {
     display: flex;
     overflow: hidden;
     padding: 60px 0px;
}
 .IndulgeFood, .fbBeerFooter, .ValueProposition, .ValuePropositionDetails {
     padding: 150px 0px !important;
}
 .fbShareLists a {
     display: none;
}
 .fbShareLists a:nth-child(1), .fbShareLists a:nth-child(2), .fbShareLists a:nth-child(3), .fbShareLists a:nth-child(4), .fbShareLists a:nth-child(5), .fbShareLists a:nth-child(6), .fbShareLists a:nth-child(7), .fbShareLists a:nth-child(8) {
     display: block;
}
 section#SeeWhatOther {
     padding: 12% 0px !important;
}
 .BannerImg1 {
     top: 95%;
     left: 0;
     z-index: -1;
}
 #fbGrabSpecial {
     padding-top: 8% !important;
}
 .BannerImg2 {
     top: 72%;
}
 .fbShareLists.card-columns {
     -webkit-column-count: 8;
     -moz-column-count: 8;
     column-count: 8;
     -webkit-column-gap: 0rem;
     -moz-column-gap: 0rem;
     column-gap: 0rem;
}
/**********|| See What Other Css||**********/
/**********|| Finch Products Css||**********/
 .fbWidthSet {
     max-width: 80%;
     margin: 0 auto;
     padding-left: 15%;
}
 .fbRightData, .fbMiddleData, .fbLeftData {
     padding: 0px 15px;
}
 .fbRightData {
     width: 15%;
}
 .fbMiddleData {
     width: 40%;
}
 .fbLeftData {
     width: 45%;
     padding-top: 70px;
}
 .GlassList .fbicon1 img {
     max-height: 50px;
     margin-bottom: 10px;
}
 .fbWitWizard {
     height: 850px;
}
 .bg-green {
     background: radial-gradient(circle, rgba(123, 174, 113, 1) 0%, rgba(61, 126, 50, 1) 50%);
}
 .bg-red {
     background: radial-gradient(circle, rgba(251, 77, 73, 1) 0%, rgba(204, 13, 11, 1) 100%);
}
 .bg-red .fbOverlayImage{
    background-image: url(../images/products/banner2.png) !important;
} 
 .bg-black,.bg-yellow {
     background: radial-gradient(circle, rgba(59, 62, 61, 1) 0%, rgba(40, 43, 42, 1) 100%);
}
 .bg-black .fbOverlayImage ,.bg-yellow .fbOverlayImage{
    background-image: url(../images/products/banner3.png) !important;
} 
 .bg-brown,.bg-pink-yellow {
     background: radial-gradient(circle, rgba(78, 22, 16, 1) 0%, rgba(13, 15, 13, 1) 100%);
}
 .bg-brown .fbOverlayImage , .bg-pink-yellow .fbOverlayImage{
    background-image: url(../images/products/banner4.png) !important;
} 
 .bg-light-blue , .bg-blue {
     background: radial-gradient(circle, rgba(36, 113, 203, 1) 0%, rgba(23, 60, 102, 1) 100%);
}
 .bg-light-blue .fbOverlayImage , .bg-blue .fbOverlayImage{
    background-image: url(../images/products/banner5.png) !important;
} 
 .bg-pink {
     background: radial-gradient(circle, rgba(240, 82, 83, 1) 0%, rgba(239, 68, 69, 1) 100%);
}
 .bg-pink .fbOverlayImage{
    background-image: url(../images/products/banner6.png) !important;
} 
 .OverLyImg {
     top: 0;
     bottom: 0;
}
 .OdrBtn {
     padding: 10px 30px;
     border: 1px solid var(--white);
     min-width: 250px;
     line-height: var(--16);
}
 .fbOverlayImage .container {
     max-width: 1500px;
}
/* .ResourcesBoxes.card-columns {
     -webkit-column-count: 8;
     -moz-column-count: 8;
     column-count: 8;
     column-gap: 15px;
}
 */
 .ResourcesBoxes {
     flex-wrap: wrap;
     justify-content: center;
}
.ResourcesBoxes a {
    margin-bottom: 30px;
    transition: 0.7s !important;
    width: 22.8%;
    margin: 10px;
}
 .ResourcesBoxes a img {
     display: block;
     height: auto;
     object-fit: cover;
     object-position: center;
}

/**********|| Finch Products Css||**********/
/**********|| Finch Products Taste Css||**********/
 .fbTstDetails {
     background-color: var(--yellow);
     color: var(--black);
     padding: 5px 0px;
     bottom: 0;
     right: 0;
     left: 0;
}
 .fbTstDetails p {
     display: -webkit-box !important;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 1;
     overflow: hidden;
     margin-top: 3px;
}
 .onOrder {
     border: 1px solid var(--black);
     font-size: 11px;
     padding: 3px 10px;
}
 .priceCount span {
     padding-top: 4px;
}
 .fbTasteBest img {
     /*max-height: 206px;
     min-height: 206px;*/
}
 .onOrder2 {
     border: 1px solid var(--yellow);
}
 .hoverShow {
     top: 0;
     transform: scaleY(0);
     background-color: var(--blue);
     border: 1px solid #7c7c7c;
}
 .fbFoodLists .owl-item a:hover .hoverShow {
     transform: scaleY(1);
}
 section#IndulgeFood {
     background-size: 100% 100%;
}
/**********|| Finch Products Taste Css||**********/
/**********|| Beer Passport Css||**********/
 .fbFtrLists li {
     padding: 5px 0px;
}
 footer#fbBeerFooter {
     background-size: cover;
}
 .fbBestPlacer:hover, .fbGrabLists div a:hover {
     transform: scale(1.06);
}
 .OdrBtn:hover {
     border-color: var(--yellow);
     background-color: var(--yellow);
}
 .onOrder:hover, .fbBtn1:hover {
     border-color: var(--white) !important;
     background-color: var(--white) !important;
     color: var(--black) !important;
}
/**********|| Beer Passport Css||**********/
/**********|| Order Page Css||**********/
 .DrinkBrad li {
     padding-right: 15px;
}
.fbOrderDetails {
     padding-bottom: 25px !important;
}
.drinkBradcrump..fbOrderDetails {
     margin-bottom: 25px;
}
 .fbOrderDetails h5 {
     padding-top: 10px;
}
 .odrImg img {
     min-height: 150px;
     max-height: 150px;
     border-radius: 10px;
}
 .AddMoreBtn .onOrder2 {
     min-width: 78px;
     line-height: 16px;
     padding: 5px 10px 4px;
}
 .AddMoreBtn {
     bottom: 0;
     right: 15px;
     left: 15px;
}
 .MngeQuntity .onOrder2 {
     min-width: 60px;
     clear: both;
     margin: 0 0 0 auto;
}
 .MngeQuntity input.qty {
     width: 20px;
     padding: 0;
     border: 0;
     height: 40px;
}
 .MngeQuntity input::-webkit-outer-spin-button, .MngeQuntity input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
}
 .MngeQuntity input[type=number] {
     -moz-appearance: textfield;
}
 .GrabBtn .onOrder {
     line-height: var(--20);
     padding: 13px 30px 10px;
}
 .fbCheckOut {
     background-color: var(--yellow);
     position: fixed;
     bottom: 0;
}
 .GoCheckNow .onOrder {
     border-radius: 10px;
     min-width: 350px;
     font-size: var(--22);
     line-height: var(--22);
}
 section#fbOrderMenus, section#fbGrabYourOrder, .fbOverlayImage {
     background-size: 100%;
     background-position: center;
}
 section#fbOrderMenus, section#fbGrabYourOrder, .fbOverlayImage, footer#fbBeerFooter, section#IndulgeFood, section#fbFindLocation {
     background-repeat: no-repeat;
}
 .OrderShowModal .modal-dialog {
     max-width: 80%;
     margin: 20px auto;
}
 .FoodDetailsHere {
     max-width: 550px;
     margin: 0 auto;
}
 .FoodDetailsForm .QuntityCount .MngeQuntity input.qty {
     width: 72%;
     margin: 0 10px;
     border: 1px solid #fff;
}
 .FoodDetailsForm .QuntityCount .MngeQuntity .onOrder {
     height: 40px;
}
 .modal-content button.close {
     font-weight: 200;
     opacity: 1;
     right: 20px;
     padding: 6px;
     top: 20px;
     line-height: var(--10);
     background-color: #002a5f;
     width: 30px;
     height: 30px;
     z-index: 1;
     outline: 0px !important;
     box-shadow: none !important;
}
 .FoodImage1 img, .FoodDetailsForm .form-control {
     border-radius: var(--10);
}
 .odrImg2 img {
     max-height: 270px;
     min-width: 38px;
}
 .odrImg3 img {
     max-width: 1607px;
}
 .fbOrderDrinks .AddMoreBtn {
     padding-top: 30px;
     bottom: unset;
}
 .BannerImg6 {
     top: 75%;
}
 .FoodBeerDetailsHere .fbWidthSet {
     padding-left: 10%;
}
 .FoodBeerDetailsHere .fbWidthSet, .FoodBeerDetailsHere {
     max-width: 100%;
}
 .FoodBeerDetailsHere .fbWitWizard {
     height: auto;
}
 .FoodBeerDetailsHere .FoodDetailsForm {
     max-width: 350px;
     margin: 0px auto 0px 25%;
}
 .FoodBeerDetailsHere .FoodDetailsForm .QuntityCount .MngeQuntity input.qty {
     width: 57%;
}
/**********|| Order Page Css||**********/
/**********|| Information Page Css||**********/
 .fbMegaImage img {
     /*min-height: 270px;*/
}
 .fbMegaTexts .megaTextLists li {
     padding: 0 6px;
}
 .fbMegaTexts .megaTextLists li:before {
     content: "|";
     right: -4px;
}
 .megaTextLists li:last-child:before, .ShowInMob {
     display: none;
}
 .fbColSet {
     padding: 40px 40px;
}
 .bdr_btm_1 {
     border-bottom: 1px solid #707070;
}
 .fbFinchMegaFood {
     padding: 50px 0px;
}
 .fbFinchInfoDetails .megaTextLists {
     max-width: 70%;
     margin: 0 auto;
}
 .FinchMegaContent .megaTextLists {
     margin-left: -6px !important;
}
 .BgBannerImage1 {
     top: 0px;
     bottom: 0px;
     z-index: -1;
}
 .BannerImg3 {
     top: 5%;
}
 .FbFinchBrefCafe h3 {
     padding: 50px 0px;
}
 .FbFinchBrefCafe p {
     padding-bottom: 15px;
}
 .FbFinchBrefCafe ul {
     padding: 50px 0px;
     padding-left: 20px;
     list-style: none;
}
 .FbFinchBrefCafe ul li {
     padding: 10px 10px;
}
 .FbFinchBrefCafe ul li:before {
     content: "";
     border: 2px solid var(--yellow);
     height: 10px;
     width: 10px;
     background-color: var(--yellow);
     left: -15px;
     top: 17px;
}
 .FbFinchBrefCafe {
     padding: 50px 0px 100px;
     border-top: 1px solid #808080;
}
.fbOrderDetails, .FbFinchBrefCafe, .PassportAccordian .card .card-header,.drinkBradcrump {
     border-bottom: 1px solid #808080;
}
 .AreYouReady h3 span {
     color: var(--yellow) !important;
}
 .GrabBtn1 .onOrder2 {
     min-width: 300px;
     padding: 10px;
}
 .AreYouReady p, .clr_blue {
     color: #60c7e4 !important;
}
 .AreYouReady {
     padding: 70px 0px;
}
/**********|| Information Page Css||**********/
/**********|| Modal Design Css||**********/
 .PassportAccordian .card {
     border: 0;
}
 .PassportAccordian .card * {
     transition: 0.2s !important;
}
 .PassportDetails {
     padding: 100px 20px 0;
     background-size: 100%;
     background-position: top;
     background-repeat: no-repeat;
}
 .PassportDetails .fbFtrLinks {
     padding: 0px 50px;
}
 .CansumerForm .form-group input,.CansumerForm .form-group textarea,.CansumerForm .form-group select {
     border-radius: 0;
     border: 0;
     border-bottom: 2px dashed #808080;
     outline: 0;
     color: #fff;
}
 .CansumerForm .form-group {
     margin-bottom: 40px !important;
}
 .CansumerFormTable table.TableOne td {
     border: 0;
     padding: 5px;
     font-size: var(--14);
}
 .CansumerFormTable .table tr th:last-child {
     text-align: right;
}
 .TableBorderBox {
     border: 1px solid var(--yellow);
     overflow: hidden;
     border-radius: 30px;
}
 .TableTwo tr:first-child th {
     border: 0px;
}
 .TableTwo tr th {
     border-top: 1px solid var(--yellow);
     padding: 20px 20px;
     font-size: var(--14);
}
 .TableThree tr td {
     border: 0;
     font-size: var(--14);
}
 .YOurHistory .TableThree tr {
     display: flex;
     width: 100%;
     border: 1px solid #808080;
     border-radius: 20px !important;
     margin-bottom: 15px;
     justify-content: space-around;
}
 .CansumerFormTable .table tr th a, .TableThree tr td a {
     display: block;
     color: #909090;
}
/**********|| Modal Design Css||**********/
/**********|| Common Css||**********/
 .insideNav li a, .fbBtn1, .HeadingText, .PrimePlacesDetails, .FinchMegaContent h3, .DrinkBrad li, .fbOrderDetails h5, .GrabBtn .onOrder, .GrabBtn1 .onOrder2, .FoodDetailsForm label, .PassportAccordian .card .card-header, .CansumerForm .form-group label, .PassportDetails3 h4, .YOurHistory h6 {
     text-transform: uppercase;
}
 .submitBtn .fbBtn1, .FbFinchBrefCafe p, .FbFinchBrefCafe ul {
     text-transform: none;
}
 .fbNearLocate a, .fbShareLists div a, .GlassList li, .priceCount span, .DrinkBrad li, .AddMoreBtn .onOrder2, .fbMegaTexts .megaTextLists li, .insideNav li, .fbBtn1, .FoodDetailsForm .QuntityCount .MngeQuntity .onOrder, .navMenuOrder li a.nav-link span {
     display: inline-block;
}
 .fbHomeBanner .carousel-inner .carousel-item img, .BannerImg1, .GlassList li, .fbTasteBest img, .odrImg img, .insideNav {
     width: 100%;
}
 .OverLyImg img.OverlayImage1, .carousel-indicators1, .OverLyImg {
     height: 100%;
}
 .fbFinchInfoDetails .fbMegaTexts .megaTextLists li, .ValueProposition p, .ValueProposition, .PrimePlacesDetails a, .fbbrDetails p, .fbTstDetails p, .fbOrderDetails p, .MegaParties p, .MegaParties li, .FinchMegaContent p, .FinchMegaContent li {
     font-weight: 400;
}
 .HeadingText p, .AreYouReady p, .GrabBtn1 .onOrder2, .fbLocateCenter .form-group input, .FbFinchBrefCafe .HeadingText2 p, .FbFinchBrefCafe ul li, .MobileOrderMenu p,.fbLocateCenter .form-group select {
     font-weight: 500;
}
 .MngeQuntity, .fbLocateCenter .form-group input::placeholder, .PrimePlacesDetails, .GlassList p, .OdrBtn, .fbTstDetails p.onOrder, .onOrder, .fbFtrLists li a, .fbOrderDetails h5, .FoodBeerDetailsHere .fbLeftData .clr_blue, .CansumerForm .form-group input, .CansumerForm .form-group input::placeholder, .TableTwo tr th, .userProfile span ,.CansumerForm .form-group textarea{
     font-weight: 600;
}
 .fbUpperHeading p span, .insideNav li a, .fbBtn1, .HeadingText h3, .FinchMegaContent h3, .PrimePlacesDetails h6, .DrinkBrad li a, .DrinkBrad li, .fbLeftData h6, .fbUpperHeading h5, .FinchMegaContent h5, .GrabBtn .onOrder, .FoodDetailsForm label, .PassportAccordian .card .card-header a, .CansumerForm .form-group, .PassportDetails3 h4, .YOurHistory h6,.CansumerForm .form-group select {
     font-weight: 700;
}
 .insideNav, .carousel-indicators2, .fbLocateCenter, .fbRightData, .fbMiddleData, .MngeQuntity input.qty, .fbMegaImage, .FoodDetailsForm .QuntityCount .MngeQuntity, .navMenuOrder li a.nav-link span {
     text-align: center;
}
 .fbShareLists .owl-item, .fbEnjoyPrime, .fbMegaTexts .megaTextLists li, .ValueProposition, .FbFinchBrefCafe ul, .FbFinchBrefCafe ul li, .carousel-indicators2 li, .carousel-indicators3, .fbLocateCenter, .fbMainProducts, .fbWitWizard, .fbBeerOrderMenus, .navMenuOrder li a.nav-link, .PassportAccordian .card .card-header {
     position: relative;
}
 .OverLyImg, .BannerImg1, .carousel-indicators1, .fbTstDetails, .hoverShow, .FbFinchBrefCafe ul li:before, .AddMoreBtn, .fbMegaTexts .megaTextLists li:before, .modal-content button.close, .navMenuOrder li a.nav-link span {
     position: absolute;
}
 .fbUpperHeading p span, .fbMegaTexts .megaTextLists li:before, .fbLocateCenter .form-group input, .HeadingText h3, .FinchMegaContent h3, .PrimePlacesDetails h6, .onOrder2, .DrinkBrad li, .MngeQuntity input.qty, .MngeQuntity, .FoodDetailsForm label, .FoodBeerDetailsHere .fbLeftData h6, .PassportAccordian .card .card-header a, .CansumerForm .form-group label, .PassportDetails3 h4, .CansumerFormTable .TableOne b, .YOurHistory h6,.fbLocateCenter .form-group select , .contactDetails {
     color: var(--yellow);
}
 .fbFtrLists li a, .DrinkBrad li a, .FbFinchBrefCafe ul, .insideNav li a, .HeadingText p, .PrimePlacesDetails, .OdrBtn, .FoodDetailsForm textarea, .FoodDetailsForm textarea::placeholder, .modal-content button.close, .navMenuOrder li a.nav-link span, .PassportAccordian .card .collapse, .PassportAccordian .card-body, .PassportDetails3 .table, .ScrollDOwn a, .MobileOrderMenu p {
     color: var(--white);
}
 .insideNav, .carousel-indicators2 li, .carousel-indicators3, .fbBestPlacer .PrimePlacesImg img, .MngeQuntity .onOrder2, .PassportAccordian .card .card-header a {
     display: block;
}
 .GlassList p, .navMenuOrder li a.nav-link span, .PassportAccordian .card .collapse *, .PassportDetailsHere .onOrder2 {
     font-size: var(--14);
}
 .fbNearLocate a, .submitBtn .fbBtn1, .PrimePlacesDetails, .PrimePlacesDetails h6, .OdrBtn, .fbTstDetails, .fbFtrLists li a, .GrabBtn1 .onOrder2, .FoodDetailsForm, .FoodDetailsForm .form-control, .FoodDetailsForm label {
     font-size: var(--12);
}
 .fbFinchInfoDetails .fbMegaTexts .megaTextLists li, .ValueProposition p, .ValueProposition, .fbUpperHeading h5, .FinchMegaContent h5, .fbbrDetails p, .fbLeftData h6, .fbOrderDetails p, .AddMoreBtn .onOrder2, .FbFinchBrefCafe .HeadingText2 p, .PassportAccordian .card .card-header a, .CansumerForm .form-group, .MobileOrderMenu {
     font-size: var(--16);
}
 .insideNav li a, .fbBtn1, .HeadingText p, .DrinkBrad li, .fbOrderDetails h5, .GrabBtn .onOrder, .fbOrderDrinks p, .PassportDetails3 h4, .CansumerFormTable .TableOne b ,.fbUpperHeading h5{
     font-size: var(--18);
}
 .HeadingText2 p, .fbLocateCenter .form-group input, .FoodBeerDetailsHere .fbLeftData .clr_blue,.fbLocateCenter .form-group select {
     font-size: var(--24);
}
 .HeadingText h3, .FinchMegaContent h3 {
     font-size: var(--28);
}
.HeadingText2 h3, .FinchMegaContent h3 {
    font-size: var(--32);
    padding: 5px;
}
 .fbTasteBest img, .odrImg img, .fbMegaImage img, .fbHomeBanner .carousel-inner .carousel-item img {
     object-fit: cover;
}
 .MngeQuntity input.qty, .MngeQuntity .onOrder2, .carousel-indicators2 li, .fbLocateCenter .form-group input, .FoodDetailsForm textarea, .PassportAccordian .card, .CansumerForm .form-group input,.fbLocateCenter .form-group select,.CansumerForm .form-group textarea {
     background-color: transparent !important;
}
.CansumerForm .form-group select{
     background-color: var(--blue) !important;
}
 .FbFinchBrefCafe ul li:before, .fbBtn1, .carousel-indicators2 li, .OdrBtn, .onOrder, .FoodDetailsForm .QuntityCount .MngeQuntity input.qty, .modal-content button.close, .navMenuOrder li a.nav-link span {
     border-radius: var(--50);
}
 .fbOverlayImage {
     background-position: unset;
}
 .OrderShowModal .modal-content {
     background-color: var(--blue);
}
/**********|| Common Css||**********/
/****16-12-2021****/
 .OrderModalInside .modal.show {
     background: rgb(0 0 0 / 70%);
}
 .OrderModalInside .OrderShowModal .modal-dialog {
     margin: 10px auto;
     height: 100%;
}
 .OrderModalInside .OrderShowModal .modal-content {
    /* width: 500px;
     */
     margin:0 auto;
}
 .btn-cart-menu button.dropdown-toggle {
     background-color: transparent !important;
     border: 0;
}
 span.badge.cart_count {
     position: absolute;
     left: 15px;
     padding: 2px;
     font-size: 10px;
     min-width: 17px;
     min-height: 17px;
     border-radius: 50px;
     line-height: 13px;
     background-color: #f8bf00;
     top: 0px;
}
 .btn-cart-menu div#cart_data {
     right: 0px;
     min-width: 300px;
     left: unset;
}
.checkOutpage .fbOrderDetails tbody td {
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
    vertical-align: middle;
}
 .userProfile .dropdown-menu {
     padding: 4px 0px;
     background-color: #ffffff;
}
 .userProfile .dropdown-menu a.nav-link {
     font-size: 12px;
     padding: 4px 10px;
     color: #000;
}
 .userProfile .dropdown-menu:before {
     content: '';
     border-bottom: 10px solid #ffc107;
     border-right: 10px solid #ffff0000;
     border-left: 10px solid #00800000;
     width: 20px;
     position: absolute;
     top: -10px;
     right: 0;
     left: 0;
     margin: 0 auto;
}
 .myOrderTables.YOurHistory .TableThree{
     margin:0px;
}
 .myOrderTables.YOurHistory .TableThree tr th, .myOrderTables.YOurHistory .TableThree tr td {
     width: 20%;
     text-align: center;
     vertical-align: middle;
     color: #fff;
}
 .myOrderTables.YOurHistory .TableThree tbody tr {
     margin-bottom: 5px;
     align-items: center;
}
 .myOrderTables.YOurHistory .TableThree.checkout-table thead tr {
     background-color: #fff;
}
 .myOrderTables.YOurHistory .TableThree.checkout-table thead tr th {
     color: #000;
}
 .myOrderTables.YOurHistory .widthSet2 {
     width: 40% !important;
}
 .myOrderTables.YOurHistory .width_set {
     width: 18%!important;
}
 .myOrderContainer {
     background-color: #0000005c;
     box-shadow: 0px 0px 10px #686868;
     border-radius: 15px;
     padding: 20px 15px;
}
 .myPassportPage .myOrderTables.YOurHistory .TableThree.checkout-table thead tr th:last-child, .myPassportPage .myOrderTables.YOurHistory .TableThree.checkout-table tbody tr td:last-child {
     width: 80px !important;
}
 .myPassportPage .myOrderTables.YOurHistory .TableThree tr th, .myPassportPage .myOrderTables.YOurHistory .TableThree tr td {
     width: 24%;
}
 .fbBestPlacer {
     transition: 0.7s !important;
}
 .cartimcartim {
     max-width: 19px;
     max-height: 19px;
}
 .dropdown-toggle::after {
     margin-left: 0;
     border-right: 3px solid transparent;
     border-left: 3px solid transparent;
     top: 3px;
     position: relative;
}
 .BottomHeader.sticky {
     position: fixed !important;
     animation: smoothScroll 1s forwards;
     box-shadow: 0px 0px 10px grey;
}
 @keyframes smoothScroll {
     0% {
         transform: translateY(-10px);
    }
     100% {
         transform: translateY(0px);
    }
}
 @media(min-width:1201px){
     .fbOtherShare .fbShareLists a {
         max-width: 280px;
    }
     .meals_is_active .container .bradcrump {
         padding-left: 3rem!important;
         padding-right: 3rem!important;
    }
     .fbOtherShare .fbShareLists a img {
         max-height: 220px;
    }
}
/****16-12-2021****/
/**********|| BackToTop Css ||**********/
 div#BackToTop {
     right: 20px;
     bottom: 20px;
     height: 40px;
     width: 40px;
     z-index: 999;
     border: 2px solid #f8bf00;
     box-shadow: 0px 0px 15px #ced2d9;
     transition: 0.7s ease;
     border-radius: 50px;
     background-color: #f8bf00;
     font-size: 30px;
     line-height: 30px;
     color: #fff;
     text-align: center;
     position: fixed;
}
 div#BackToTop:hover {
     background-color: #33a0ff;
     border-color: #33a0ff;
}
.Preloader {
    position: fixed;
    height: 100vh;
    z-index: 99999;
    background-color: #000000d6;
    display: table;
    width: 100%;
    top: 0;
    bottom: 0;
}
 .SlidersDetails .ContentCenter {
     background-color: rgb(0 0 0 / 15%);
}
 .Preloader img.img-fluid {
     max-width: 180px;
}
 .common-line-text,.one-line-text,.two-line-text,.four-line-text,.five-line-text,.three-line-text,.six-line-text{
     display: -webkit-box !important;
     -webkit-box-orient: vertical;
     overflow: hidden;
}
 .one-line-text{
     -webkit-line-clamp: 1;
}
 .two-line-text{
     -webkit-line-clamp: 2;
}
 .three-line-text{
     -webkit-line-clamp: 3;
}
 .four-line-text{
     -webkit-line-clamp: 4;
}
 .five-line-text{
     -webkit-line-clamp: 5;
}
 .six-line-text{
     -webkit-line-clamp: 6;
}
 .cnfrmAge h5 {
     font-size: 16px;
     font-weight: 700;
}
 .cnfrmAge {
     color: #0A2240;
}
 .cnfrmAge p {
     font-size: 13px;
     font-weight: 600;
}
 .cnfrmData table.table.table-borderless {
     word-break: keep-all;
     white-space: nowrap;
     overflow: hidden;
}
 .cnfrmData .table-responsive {
     display: block;
     overflow: auto !important;
}
 .cnfrmData table.table {
     margin: 0;
}
 .cnfrmData table.table th {
     padding: 0;
}
 .cnfrmData table.table th label {
     width: 40px;
     text-align: center;
     position: relative;
     height: 40px;
     display: block;
     margin: 0px 5px;
     line-height: 40px;
}
 .cnfrmData table.table th label input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
}
 .cnfrmData table.table th label input:checked + span {
     color: #0A2240;
}
 .cnfrmData table.table th label span {
     color: #bcbcbc;
     font-size: 22px;
}
 .cnfrmData {
     max-width: 750px !important;
     display: block;
     overflow: auto !important;
     margin: 0 auto;
}
 .cnfrmData .table-responsive::-webkit-scrollbar {
     height: 5px;
}
 .cnfrmData .table-responsive::-webkit-scrollbar-thumb {
     background: #F6F7F8;
     border: 1px solid #939393;
     border-radius: 6px;
}
 .cnfrmData .table-responsive::-webkit-scrollbar-track {
     background: #f1f1f1;
}
 .meals_is_active .container {
     max-width: 1800px !important;
}
 .contactDetails span.icon {
     font-size: 30px;
     width: 40px;
     margin: 0 !important;
     text-align: center;
}
 .contactDetails .div1 {
     font-size: 14px;
     font-weight: 600;
     width: calc(100% - 45px);
     padding-left: 10px;
}
 .instaFeedDetails .fbTasteBest img {
     /*max-height: 250px;
     min-height: 250px;
     object-fit: contain !important;*/
}
 .fbFinchInstaFeedDetails .owl-nav {
     background: #f8bf00;
     display: flex !important;
     justify-content: space-evenly;
     padding: 10px;
}
 .fbFinchInstaFeedDetails .owl-nav button {
     width: 30px !important;
     height: 30px;
     margin: 0 !important;
     color: var(--blue) !important;
     border: 1px solid #0a2240 !important;
     border-radius: 50px !important;
     font-size: 20px !important;
     line-height: 0px !important;
     position: static !important;
}
 .fbFinchInstaFeedDetails .owl-nav button:hover,.fbFinchInstaFeedDetails .owl-nav button:focus,.fbFinchInstaFeedDetails .owl-nav button:active{
     background-color: var(--white) !important;
     outline: 0px !important;
}
 .ShareIcons li {
     display: inline-block;
}
 .ShareIcons li a img {
     max-width: 25px;
     display: inline-block !important;
     width: auto !important;
     margin-right: 4px;
}
 .ShareIcons li a span {
     display: inline-block;
     font-size: var(--12);
     font-weight: 400;
}
.ShareIcons {
    padding: 10px;
    /*display: none;*/
}
.MobileOrderMenu {
    display: none;
}
/**********|| BackToTop Css ||**********/
button{
    outline: 0px !important;
    box-shadow: none !important;
}
.ms-gallery-group .owl-nav button {
    position: absolute;
    height: 100%;
    top: 0px;
    width: 30px;
    text-align: center;
    color: #fff !important;
    margin: 0 !important;
    background-color: #ffffff4a !important;
    border-radius: 0 !important;
    outline: 0px !important;
    box-shadow: none !important;
    font-size: 50px !important;
}
.ms-gallery-group .owl-nav button.owl-prev {
    left: 0px;
}
.ms-gallery-group .owl-nav button.owl-next {
    right: 0px;
}
.fbFoodLists.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fbFoodLists.gallery a.big {
    display: inline-block;
    width: 24%;
    margin: 5px;
    cursor: zoom-in;
}
.HoverToolTip p {
    margin: 0;
    padding: 5px;
    font-size: 10px;
    background-color: #000;
    color: #fff;
    min-width: 160px;
    text-align: center;
    border-radius: 10px;
    z-index: 11;
    top: -60px;
    right: -75px;
    display: none ;
}
.HoverToolTip p:before {
    content: "";
    border-top: 10px solid #02070d;
    border-right: 10px solid #00800000;
    border-left: 10px solid #ffff0000;
    position: absolute;
    bottom: -8px;
    right: 0;
    left: 0;
    width: 10px;
    margin: 0 auto;
}
.HoverToolTip:hover p{
    display: block;
}
.fbOrderDetails tr td .row {
    align-items: center;
}


/*.SeeWhatOther{
    display: none !important;
}*/
.PrimePlaces .row,.FinchMegaCafe .row {
    justify-content: center;
}
.fbMiddleData img {
    max-height: 500px;
}
.MegaParties .fbUpperHeading p {
    /*min-height: 45px;*/
    font-weight: 400;
}
.fbFoodLists.fbFoodListSLiders img {
    height: 170px;
    object-fit: contain;
    border: 1px solid #494949;
    background-color: #fff;
}

.fbFoodLists.gallery a.big img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}
#infoModal #coupon{
     text-transform: uppercase;
}
.product-attr-options input[type="radio"] {
    display: none;
}      
.product-attr-options label {
     display: inline-block;
     background-color: transparent;
     padding: 4px 11px;
     font-family: Arial;
     font-size: 18px;
     cursor: pointer;
     border-radius: var(--50);
     border: 1px solid #fff;
}      
.product-attr-options input[type="radio"]:checked+label {
     /*background-color: #60c7e4;*/
     border: 1px solid var(--yellow);
     color: var(--yellow);
}
.fbColSet .onOrder2 {
    font-size: var(--16);
    padding: 10px 15px;
    min-width: 200px;
}
.gotoWhatsapp li {
    text-align: center;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.gotoWhatsapp li span {
    font-size: 10px;
    display: inline-block;
}
.gotoWhatsapp li a {
    display: inline-block;
    border-radius: 50px;
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.offerCode {
    font-size: 12px;
    font-weight: 700;
    color: #00c600;
    letter-spacing: 1px;
    position: absolute;
    top: -45px;
    margin: 0;
    right: 0;
    left: 0;
    text-align: center;
}
.navVisitNow a{
    color: var(--yellow) !important;
}
section.pageBanner {
    margin-top: 105px;
    height: 300px;
    display: table;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.pageOverlay {
    display: table-cell;
    vertical-align: middle;
    /*background-color: #0a2240a8;*/
    padding: 30px;
}
.bgMumbai{
    background-image: url(../images/bg_images/finch_mumbai.png);
}
.bgJalndhar{
    background-image: url(../images/bg_images/finch_jalndhar.jpg);
}
.bgAmrit{
    background-image: url(../images/bg_images/finch_amrit.jpg);
}
@media(min-width: 992px){
    section#ValueProposition.finchInfoPage {
    padding-top: 20px !important;
}
}
.contactInfo a {
    display: inline-block;
    margin: 4px 6px;
    color: var(--yellow);
}
.franchMob {
    position: absolute;
    top: 0;
    left: -10px;
}
.franchMob a.nav-link {
    font-size: 8px;
    text-align: center;
    padding: 10px 5px;
}
.franchMob a.nav-link span {
    display: block;
}